<!DOCTYPE html>
<html>
<head>
  <title>OnlineSeller</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="container">
	<!-- navigation bar -->
	<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
    	
    <div class="span7">	
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar">A</span>
        <span class="icon-bar">B</span>
        <span class="icon-bar">C</span>
      </a>
      <a class="brand" href="#">Some Store</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Browse Products", "products_path" %></li>
          <li><%= link_to "Price List" %></li>
          <li><%= link_to "Contact Us" %></li>
          <li><%= link_to "Cart" %></li>
        </ul>        
      </div>
      </div>
      
        <!--  area de login-->
     <form class="navbar-form form-inline pull-left">
   	<div class="span4">
   		<input type="text" class="input-small" placeholder="Usuário" style="height: 12px;">
        <input type="password" class="input-small" placeholder="Senha" style="height: 12px;">
        <button type="submit" class="btn btn-small" >entrar</button>
    </div>
   </form>
    </div>
  </div>
</div>


	
  <!--  flash area -->
  <div id="flash_msg">
    <p><%= flash[:notice] %></p>
    <p><%= flash[:alert] %></p>
  </div>
  <!-- main area -->
  <div class="row">
  <div class="span9"><%= yield %>
  	teste
  </div>
    <div class="span3">
      <h2>About Us</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>        
    </div>
    </div>
 </div>
</body>
</html>
