<!DOCTYPE html>
<html>
<head>
  <title>OnlineSeller</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="flash_msg">
  <p><%= flash[:notice] %></p>
<  p><%= flash[:alert] %></p>
</div>

<%= yield %>

</body>
</html>
